@import "tailwindcss";

@theme {
  --color-void: #121212; /* Dark background */
  --color-shadow: #1e1e1e; /* Secondary background */
  --color-crimson: #dc143c; /* Primary accent */
  --color-teal: #008080; /* Secondary accent */
  --color-obsidian: #333333; /* Muted dark */
  --color-lunar: #f5f5f5; /* Muted light */
}

@layer components {
  .abyss-theme-selector-button {
    background-color: var(--color-shadow);
    color: var(--color-teal);
    outline-style: solid;
    outline-width: 1px;
    outline-offset: -1px;
    outline-color: var(--color-shadow);
  }
  .abyss-theme-selector-button:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: -2px;
    outline-color: var(--color-teal);
  }
}

@layer utilities {
  .abyss-text-primary {
    color: var(--color-teal);
  }
  .abyss-text-secondary {
    color: var(--color-crimson);
  }
  .abyss-text-muted-dark {
    color: var(--color-obsidian);
  }
  .abyss-text-muted-light {
    color: var(--color-lunar);
  }
  .abyss-bg-primary {
    background-color: var(--color-void);
  }
  .abyss-bg-secondary {
    background-color: var(--color-shadow);
  }
  .abyss-focus-option[data-focus] {
    background-color: var(--color-void);
    color: var(--color-lunar);
  }
}
