@import "tailwindcss";

@theme {
  --color-nosferatu: #292b36;
  --color-aro: #454759;
  --color-buffy: #ff79c6;
  --color-dracula: #bc93f9;
  --color-voncount: #6273a4;
  --color-cullen: #f8f8f3;
}

@layer components {
  .dracula-theme-selector-button {
    background-color: var(--color-aro);
    color: var(--color-dracula);
    outline-style: solid;
    outline-width: 1px;
    outline-offset: -1px;
    outline-color: var(--color-voncount);
  }
  .dracula-theme-selector-button:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: -2px;
    outline-color: var(--color-dracula);
  }
  .dracula-bento-item-outline {
    outline: 0.5px solid var(--color-voncount);
  }
  .dracula-focus-option[data-focus] {
    background-color: var(--color-nosferatu);
    color: var(--color-buffy);
  }
}

@layer utilities {
  .dracula-text-primary {
    color: var(--color-dracula);
  }
  .dracula-text-secondary {
    color: var(--color-buffy);
  }
  .dracula-text-muted-light {
    color: var(--color-cullen);
  }
  .dracula-text-muted-dark {
    color: var(--color-voncount);
  }
  .dracula-bg-primary {
    background-color: var(--color-nosferatu);
  }
  .dracula-bg-secondary {
    background-color: var(--color-aro);
  }
  .dracula-modal-btn-hover:hover {
    background-color: var(--color-cullen);
    color: var(--color-aro);
  }
}
