@import "tailwindcss";

@theme {
  --color-gruvbox-bg0_h: #fbf1c7;
  --color-gruvbox-bg0_s: #f9f5d7;
  --color-gruvbox-bg1: #ebdbb2;
  --color-gruvbox-bg2: #d5c4a1;
  --color-gruvbox-bg3: #b8bb26;
  --color-gruvbox-bg4: #a89984;
  --color-gruvbox-fg0: #282828;
  --color-gruvbox-fg1: #3c3836;
  --color-gruvbox-fg2: #504945;
  --color-gruvbox-fg3: #665c54;
  --color-gruvbox-fg4: #7c6f64;
  --color-gruvbox-red: #cc241d;
  --color-gruvbox-green: #98971a;
  --color-gruvbox-yellow: #d79921;
  --color-gruvbox-blue: #458588;
  --color-gruvbox-purple: #b16286;
  --color-gruvbox-aqua: #689d6a;
  --color-gruvbox-orange: #d65d0e;
}

@layer components {
  .gruvbox-theme-selector-button {
    background-color: var(--color-gruvbox-bg1);
    color: var(--color-gruvbox-blue);
    outline-style: solid;
    outline-width: 1px;
    outline-offset: -1px;
    outline-color: var(--color-gruvbox-bg3);
  }
  .gruvbox-theme-selector-button:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: -2px;
    outline-color: var(--color-gruvbox-blue);
  }
  .gruvbox-bento-item-outline {
    outline: 0.5px solid var(--color-gruvbox-bg3);
  }
  .gruvbox-focus-option[data-focus] {
    background-color: var(--color-gruvbox-bg0_h);
    color: var(--color-gruvbox-green);
  }
}

@layer utilities {
  .gruvbox-text-primary {
    color: var(--color-gruvbox-blue);
  }
  .gruvbox-text-secondary {
    color: var(--color-gruvbox-green);
  }
  .gruvbox-text-muted-light {
    color: var(--color-gruvbox-fg1);
  }
  .gruvbox-text-muted-dark {
    color: var(--color-gruvbox-fg3);
  }
  .gruvbox-bg-primary {
    background-color: var(--color-gruvbox-bg0_h);
  }
  .gruvbox-bg-secondary {
    background-color: var(--color-gruvbox-bg1);
  }
  .gruvbox-modal-btn-hover:hover {
    background-color: var(--color-gruvbox-bg2);
    color: var(--color-gruvbox-blue);
  }
}
